<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unesco.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5AD5041C6BCF9BF60758AA9A9EEB3731BDBC6CC0</string>
				<key>dateExpires</key>
				<string>8/29/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AD5041C6BCF9BF60758AA9A9EEB3731BDBC6CC0</string>
						<key>dateExpires</key>
						<string>8/29/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BT38KR7Z5C</string>
						<key>name</key>
						<string>Alqasem Hussein</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AD5041C6BCF9BF60758AA9A9EEB3731BDBC6CC0</string>
						<key>dateExpires</key>
						<string>8/29/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BT38KR7Z5C</string>
						<key>name</key>
						<string>Alqasem Hussein</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AD5041C6BCF9BF60758AA9A9EEB3731BDBC6CC0</string>
						<key>dateExpires</key>
						<string>8/29/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BT38KR7Z5C</string>
						<key>name</key>
						<string>Alqasem Hussein</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AD5041C6BCF9BF60758AA9A9EEB3731BDBC6CC0</string>
						<key>dateExpires</key>
						<string>8/29/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BT38KR7Z5C</string>
						<key>name</key>
						<string>Alqasem Hussein</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AD5041C6BCF9BF60758AA9A9EEB3731BDBC6CC0</string>
						<key>dateExpires</key>
						<string>8/29/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BT38KR7Z5C</string>
						<key>name</key>
						<string>Alqasem Hussein</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5AD5041C6BCF9BF60758AA9A9EEB3731BDBC6CC0</string>
						<key>dateExpires</key>
						<string>8/29/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BT38KR7Z5C</string>
						<key>name</key>
						<string>Alqasem Hussein</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BT38KR7Z5C.com.kaher.unesco</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>BT38KR7Z5C</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4d0b9735-25e8-44a7-9155-f402dc31fafc</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.kaher.unesco</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BT38KR7Z5C</string>
				<key>name</key>
				<string>Alqasem Hussein</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
